<?xml version="1.0" encoding="utf-8"?>

<!--
AndroidManifest.xml 의 기본 생성 구조는 다음과 같다.
<manifest>, <application>, <activity>, <intent-filter>, <action>, <category>

크게 3가지 요소를 설명하면 다음과 같다.
manifest    : 안드로이드 어플리케이션의 패키지명과 버전정보(버전 이름과 버전 코드 등)를 정의
application : 어플리케이션의 제목과 아이콘을 정의하고, <manifest> 밑에는 하나의 <application>만 정의된다.
activity    : 안드로이드 어플리케이션을 구성하는 네가지 Component 중에 Activity를 정의하는 요소

이외에도 <permission>, <instrumentation> <uses-configuration> 등 필요에 따라 여러가지 xml 요소를 추가할 수 있다.
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>