<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MeasureResultActivity"></activity>
        <activity android:name=".CameraTakingActivity" />
        <activity android:name=".SubPoseActivity" />
        <activity android:name=".PoseActivity" />
        <activity android:name=".StartMeasureActivity" />
        <activity android:name=".CountMeasureActivity" />
        <activity android:name=".MeasureListActivity" />
        <activity android:name=".ServeMeasureActivity" />
        <activity android:name=".MeasureActivity" />
        <activity android:name=".AltogetherActivity" />
        <activity android:name=".LatelyActivity" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".UserActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shuvic.alumni.cameraalbum"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>